@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F5;
  color: #0D0D0D;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #E5E3DE transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #E5E3DE;
  border-radius: 3px;
}
